.buttonClose {
  height: 24px;
  width: 24px;
  color: var(--separator);
  stroke-width: 2px;

  cursor: pointer;
}

.Modal {
  position: absolute;
  background-color: var(--background);
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem;
  gap: 1rem;

  header {
    display: flex;
    justify-content: space-between;
  }
}

.userContainer {
  display: flex;

  .userShow {
    flex: 1;

    header {
      display: flex;

      .userShowHeaderInfo {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .name {
          font-weight: 600;
          margin-bottom: 4px;
        }
      }
    }

    main {
      width: 145px;
      padding-right: 2rem;

      .titleMain {
        font-weight: 500;
        color: var(--separator);
      }

      .userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
      }

      .titleMain + .userInfo {
        margin-top: 0.5rem;
      }
    }
  }

  .userUpdate {
    flex: 2;
    border-left: 1px solid var(--separator);
    padding-left: 2rem;

    form {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-right: 2rem;

      fieldset {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        .fieldsetLeft {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 225px;

          .inputBlock {
            display: flex;
            flex-direction: column;

            label {
              margin-bottom: 0.3rem;
              font-size: 0.875rem;
            }

            input {
              border: none;
              height: 1.875rem;
              background: var(--background);
              border-bottom: 1px solid var(--separator);
            }

            input:focus {
              box-shadow: 0 0 0 0;
              border: 0 none;
              outline: 0;
            }

            .selectBlock {
              display: flex;
              flex-direction: column;

              select {
                display: flex;
                height: 2.25rem;
                border-radius: 0.25rem;
                border: 0;
                border-bottom: 1px solid var(--separator);
                color: black;
                background: transparent;
                font-size: 1rem;
              }
            }

            .selectTypeContainer {
              display: flex;
              justify-content: space-between;

              button {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.25rem;
                border-bottom: 1px solid var(--separator);
                height: 2.25rem;
                width: 100%;
                background: transparent;

                svg {
                  height: 20px;
                  width: 20px;
                }

                &.active {
                  background: var(--pink-100);
                }
              }
            }
          }
        }

        .fieldsetRight {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 225px;

          .inputBlock {
            display: flex;
            flex-direction: column;

            label {
              margin-bottom: 0.3rem;
              font-size: 0.875rem;
            }

            input {
              border: none;
              height: 1.875rem;
              background: var(--background);
              border-bottom: 1px solid var(--separator);
            }

            input:focus {
              box-shadow: 0 0 0 0;
              border: 0 none;
              outline: 0;
            }

            .selectBlock {
              display: flex;
              flex-direction: column;

              select {
                display: flex;
                height: 2.25rem;
                border-radius: 0.25rem;
                border: 0;
                border-bottom: 1px solid var(--separator);
                color: black;
                background: transparent;
                font-size: 1rem;
              }
            }

            .selectTypeContainer {
              display: flex;
              justify-content: space-between;
              margin-bottom: 1.5rem;

              button {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.25rem;
                border-bottom: 1px solid var(--separator);
                height: 2.25rem;
                width: 100%;
                background: transparent;

                svg {
                  height: 20px;
                  width: 20px;
                }

                &.active {
                  background: var(--pink-100);
                }
              }
            }
          }
        }
      }

      footer {
        .ButtonAction {
          display: flex;
          justify-content: right;

          button {
            display: flex;
            justify-content: center;

            svg {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}
