.container {
  width: 84vw;
  padding: 1rem 3rem;

  .content {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    height: 80vh;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.formContainer {
  h2 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  input {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    border-radius: 0.25rem;
    border: 1px solid #d7d7d7;
    background: #e7e9ee;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;

    &::placeholder {
      color: var(--text-body);
    }
  }

  button {
    color: black;
  }
}
