* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #fceff9;
  --separator: #a8a8b3;
  --text-ligh: #3b3b44;
  --black: #000;

  --blue-100: #abfdfb;
  --blue-200: #57fcf8;
  --blue-300: #03fbf5;
  --blue-400: #02a7a3;
  --blue-500: #015351;

  --pink-100: #edbbd8;
  --pink-200: #db78b2;
  --pink-300: #ca348c;
  --pink-400: #86235d;
  --pink-500: #43112e;
}

body {
  background: var(--background);
}

body,
input,
textarea,
button,
fieldset,
span {
  font: 400 1rem 'Roboto', sans-serif;
  color: var(--black);
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: var(--black);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  color: var(--black);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-decoration: none;
  line-height: 2rem;
  font-size: 1rem;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px
  }
}

.reacModalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.reacModalContent {
  width: 100%;
  max-width: 576px;
  background: var(--background);
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}
