.container {
  flex: 1;
  box-shadow: 0 0 15px -10px black;
  -webkit-box-shadow: 0 0 15px -10px black;
  padding: 2rem;

  .item {
    display: flex;
    justify-content: space-between;

    margin: 1rem 0;

    > div {
      display: flex;
      gap: 0.5rem;

      img {
        width: 42.5px;
        height: 42.5px;
        border-radius: 50%;
      }

      .info {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .name {
          font-weight: 600;
          margin-bottom: 4px;
        }

        .moreInfo {
          font-weight: 300;
          color: var(--separator);
        }
      }
    }
  }
}
